.my-card {
  text-align: center;
  flex: 1 200px; }

.title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  min-height: 40px; }

.description {
  font-size: 12px; }

.jumbotron {
  background-image: url("../images/banner.png");
  height: 10%;
  margin-top: 50px;
  padding: 15px;
  text-align: center; }

.initial-info {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px; }

.initial-info img {
  width: 30px; }

.navbar {
  background-color: #121db3; }

.view-more {
  background-color: #121db3;
  color: white;
  width: 100%;
  border-radius: 5px;
  border: none; }

.footer-info {
  flex: 1 200px; }

body {
  height: calc(100% - 56px); }

html {
  height: 100%; }

footer {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: #CCCCCC; }

footer a {
  color: #1278b3; }

footer h5 {
  font-weight: bold; }

.footer-icon-address {
  padding-right: 5px; }

.tab-content {
  padding-top: 10px; }

.collapse {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
