$darkBlue: #121db3;
$lightGray: #CCCCCC;
$lightBlue: #1278b5;
$amarillo:yellow;
$rojo:red;
$verde:green;

@mixin margenes($top, $padding){
	margin-top: $top;
	padding: $padding;
}

.my-card{
	text-align: center;
	flex: 1 200px;
}
.title{
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	min-height: 40px;
}

.description{
	font-size: 12px
}

.jumbotron{
	background-image: url("../images/banner.png");
	height: 10%;
	@include margenes(50px, 15px);
	text-align: center;
}

.initial-info{
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
}

.initial-info img{
	width: 30px
}

.navbar{
	background-color: $darkBlue
}

.view-more{
	background-color: $darkBlue;
	color: white;
	
	width: 100%;
	border-radius: 5px;
	border: none;
}

.footer-info{
	flex: 1 200px;
}

body{
	height: calc(100% - 56px)
}

html{
	height: 100%
}

footer{
	@include margenes(20px, 10px);
	font-size: 14px;
	background-color: $lightGray;
}

footer a{
	color: $lightBlue;
}

footer h5{
	font-weight: bold
}

.footer-icon-address{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}

.collapse{
		padding-top: 10px;
	}